html {
  background-color: #ccdad1;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

body {

}
.dropdown-content {
  display: none;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  background-color: #9caea9;
}

#main-home {
  display: flex;
  justify-content: center;
  flex: 1 1;
  -ms-flex: 1;
  height: 100vh;
  background-color: #6f6866;
  background: url("../images/knight-6489579_1920.jpg");
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
#nav a {
  color: #6f6866;
  text-decoration: none;
}

#nav a:hover {
  color: #788585;
}

#nav ul,
li {
  list-style: none;
}

#title {
  text-transform: uppercase;
  color: #38302e;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #38302e;
  color: #ffffff;
}
