/*96C5F7
93ACB5
A9D3FF
F2F4FF
6C756B*/
.action-button {
  font-size: 1.5rem;
  color: #38302e;
  cursor: pointer;
}
.action-button>a {
  text-decoration: none;
  color: #38302e;
}

.article-title {
  background-color: white;
  border-radius: 1rem;
  border: 2px solid #93acb5;
  cursor: pointer;
  padding: 12px;
  text-align: center;
}
.article-title>a {
  text-decoration: none;
  color: #38302e;
}

.article-title:hover {
  animation: toto .8s;
  animation-fill-mode: forwards;
}

@keyframes toto {
  100% {
    font-weight: 500;
    background-color: #a9d3ff;
  }
}

.article-content {
  background-color: white;
  border-radius: 2rem;
  border: 2px solid #93acb5;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}
.article-content:hover { 
  font-weight: 500;
}

#categorie {
  text-align: center;
  width: 100%;
}

#categorie-aside {
  background-color: #a9d3ff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: start;
  padding: 5rem;
  row-gap: 1rem;
}
#categorie-aside > div > span:hover {
  font-weight: 500;
  cursor: pointer;
}
.container-article {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;
  justify-content: center;
  margin: 1rem;
  padding: 0 25%;
}
#error {
  color: red;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

html {
  background-color: #f2f4ff;
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-size: 12px;
}

input {
  text-align: center;
}

.pseudo-blue {
  color: #96c5f7;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.main-center {
  -ms-flex: 1;
  display: flex;
  flex: 1 1;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

#form-control {
  background-color: #f2f4ff;
  border-radius: 10px;
  border: 2px solid #a9d3ff;
  margin: 10px;
  padding: 2rem;
}

form > div {
  text-align: center;
  margin: 1rem;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #38302e;
  color: #ffffff;
}

#login_button {
  margin: 1rem;
  text-align: center;
}

#main-home {
  -ms-flex: 1;
  background-color: #f2f4ff;
  background-size: cover !important;
  background: url("../images/knight-6489579_1920.jpg");
  display: flex;
  flex: 1 1;
  height: 100vh;
  justify-content: center;
}

#main {
  background-color: #fff;
  display: flex;
  height: 100vh;
}

.menu-btn__burger {
  width: 25px;
  height: 3px;
  background: #a9d3ff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #a9d3ff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}

.menu-btn__burger::after {
  transform: translateY(10px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  /* box-shadow: none; */
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  height: 3px;
  width: 20px;
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  height: 3px;
  width: 20px;
}

tr:nth-child(3) > td:nth-child(2) {
  background-color: blue;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

#nav a,
#nav-mobile_item > ul > li > a {
  color: #6f6866;
  text-decoration: none;
}

#nav a:hover,
#nav-mobile_item > ul > li > a:hover {
  font-weight: 600;
  color: #788585;
}

#nav ul,
li {
  list-style: none;
}

#nav-mobile {
  display: none;
}

/* **** */
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#nav-mobile_item {
  display: none;
  position: absolute;
  top: 0rem;
  line-height: 3rem;
  right: 0.2rem;
  opacity: 0;
  background-color: #f2f4ff;
  width: 250px;
}

select {
  text-align: center;
}

#signup_button {
  margin-top: 1rem;
  text-align: center;
}

#title {
  text-transform: uppercase;
  color: #38302e;
}
/* ***** */

@media screen and (max-width: 700px) {
  #nav {
    display: none;
  }
  #nav-mobile {
    display: flex;
  }
  #nav-mobile_item.open {
    display: flex;
    animation: mymove 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes mymove {
    100% {
      opacity: 1;
      top: 5.5rem;
    }
  }
}
