/*96C5F7
93ACB5
A9D3FF
F2F4FF
6C756B*/

html {
  background-color: #f2f4ff;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.button_bleu:hover {
  background-color: blue;
}

.blue {
  color: #96c5f7;
  font-weight: 600;
}

#form-control {
  padding: 2rem;
  background-color: #f2f4ff;
  border-radius: 10px;
  border: 2px solid #a9d3ff;
  margin: 10px;
}

.dropdown {
  display: none;
}

tr:nth-child(3) > td:nth-child(2) {
  background-color: blue;
}

#deuxieme {
  background-color: red;
}

#signup_button {
  text-align: left;
  float: left;
  clear: both;
  margin-top: 1rem;
}

#main-home {
  display: flex;
  justify-content: center;
  flex: 1 1;
  -ms-flex: 1;
  height: 100vh;
  background-color: #f2f4ff;
  background: url("../images/knight-6489579_1920.jpg");
  background-size: cover;
}

#main {
  display: flex;
  justify-content: center;
  flex: 1 1;
  -ms-flex: 1;
  height: 100vh;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

#nav a {
  color: #6f6866;
  text-decoration: none;
}

#nav a:hover {
  font-weight: 600;
  color: #788585;
}

form > div {
  text-align: center;
  margin: 1rem;
}

#nav ul,
li {
  list-style: none;
}

#title {
  text-transform: uppercase;
  color: #38302e;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #38302e;
  color: #ffffff;
}

#nav-burger {
  display: none;
}

#error {
  color: red;
  float: left;
}
.action-button {
  font-size: 1rem;
}
.container-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 1rem;
  background-color: white;
}

.article-title {
  padding: 12px;
  background-color: white;
  border: 2px solid #93acb5;
  text-align: center;
}

.article-content {
  padding: 12px;
  background-color: white;
  border: 2px solid #93acb5;
  text-align: center;
}

#categorie {
  text-align: center;
  width: 100%;
}

#login_button {
  margin: 1rem;
  text-align: center;
}


@media screen and (max-width: 375px) {
  #nav {
    display: none;
  }
  .my_array {
    height: 75px;
  }
  #nav-burger {
    display: block;
    width: 100%;
  }
}
